__pycache__/
*.pyc
*.pyo

# Entornos locales
.venv/
venv/
env/

# Datos locales
chroma_db/
gudid_uploaded.csv
gudid_downloaded/

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
